
@font-face {
  font-family: LemonMilk;
  src: url("lemon_milk/LemonMilk.otf") format("opentype");
}


body { margin:0; padding:0;  font-family: 'LemonMilk';}
#map { position:absolute; top:0; bottom:0; right: 0; left: 0; width:100%; }


.tilelegend-map {
  width: 100%;
}
.leaflet-bar a, .leaflet-bar a:hover {
  height: 36px;
  line-height: 36px;
  width: 36px;

}

.sidebar-header {

  background-color: rgb(18, 48, 94);
  font-size: xx-large;
  font-family: 'Sigmar One', cursive;
  font-weight: bolder;
  letter-spacing: .15em;
  font-family: 'LemonMilk';
}

.siderbar-content{
  background-color: rgb(81, 81, 81);
}

.sidebar-tabs > ul > li > a 

  background-color: rgb(0, 0, 0);
}

#title {
  font-size: xx-large;
  
}

